<a href="https://colab.research.google.com/github/saiku122/AIJobcolle/blob/master/MachineLearning/finaltask/LatstTask_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/saiku122/AIJobcolle.git

Cloning into 'AIJobcolle'...
remote: Enumerating objects: 390, done.
remote: Counting objects: 100% (390/390), done.
remote: Compressing objects: 100% (271/271), done.
remote: Total 390 (delta 163), reused 205 (delta 66), pack-reused 0
Receiving objects: 100% (390/390), 11.89 MiB | 13.02 MiB/s, done.
Resolving deltas: 100% (163/163), done.

In [2]:
cd /content/AIJobcolle/MachineLearning/finaltask/

/content/AIJobcolle/MachineLearning/finaltask

★★最終課題★★</br>
〇入力データ</br>
・モデル用：final_hr_analysis_train.csv</br>
・スコア用：final_hr_analysis_test.csv</br>
</br>
〇出力データ</br>
・スコア付データ：</br> 
・モデル：</br>

In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFECV
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix
import joblib
from sklearn.metrics import accuracy_score
import lightgbm as lgb

In [17]:
#インプットファイル
file_model_name = 'final_hr_analysis_train'
file_test_name = 'final_hr_analysis_test'

In [51]:
my_dtype = {'sales':object,
            'salary':object} ##!!!変更箇所
ohe_cols = ['sales',
           'salary'] #!!!変更箇所

In [19]:
#  モデル用データ読み込み
df = pd.read_csv('./input/'+ file_model_name + '.csv',
                 header=0,
                 dtype=my_dtype)
ID = df.iloc[:,0] #1列目取得
y=df.iloc[:,1]    #2列目の正解データを取得
X=df.iloc[:,2:]   #3列目以降取得
df.dtypes

customerid                     int64
tgt                            int64
trips                          int64
amount_of_yen                float64
quantity                       int64
purchase_period                int64
purchase_recency               int64
purchase_amount_per_trips    float64
regularity                   float64
trips_cancellation             int64
trips_cat85099                 int64
trips_cat85123                 int64
trips_cat22423                 int64
trips_cat47566                 int64
trips_cat84879                 int64
trips_cat20725                 int64
trips_cat22720                 int64
trips_catpost                  int64
trips_cat23203                 int64
trips_cat22383                 int64
mode_category                 object
dtype: object

In [20]:
# one-hot encoding処理
X_ohe = pd.get_dummies(X, dummy_na=True, columns=ohe_cols)
#display(X_ohe)
X_ohe = X_ohe.dropna(axis=1,how='all')#axis=1　列
#display(X_ohe)
X_ohe_columns = X_ohe.columns.values #モデルデータの列確定

In [21]:
#欠損値の置き換え
imp=SimpleImputer() #平均値で欠損値を補完
imp.fit(X_ohe)
X_ohe = pd.DataFrame(imp.transform(X_ohe),columns=X_ohe_columns) # モデルデータの列を平均値補完適用させ変数を更新

In [22]:
#特徴量抽出
selector = RFECV(estimator=RandomForestClassifier(n_estimators=100,random_state=0), step=0.05) #特徴量をRFE(主成分分析)を用いて次元削減する。(モデルはランダムフォレスト)
selector.fit(X_ohe, y) #RFEした結果を保存
X_ohe_selected = selector.transform(X_ohe) #X_oheに反映
X_ohe_selected = pd.DataFrame(X_ohe_selected, columns=X_ohe_columns[selector.support_]) #削減実行後のデータを再構成

**テストデータの読み込み**<br>
モデル用データのエンコード結果に列名をあわせる

In [24]:
#  テスト用データ読み込み
df_s = pd.read_csv('./input/'+ file_test_name + '.csv',
                 header=0,
                 dtype=my_dtype)
ID_s = df_s.iloc[:,[0]] #1列目取得
y_s=df_s.iloc[:,1]    #2列目の正解データを取得
X_s=df_s.iloc[:,2:]   #3列目以降取得
df.dtypes

customerid                     int64
tgt                            int64
trips                          int64
amount_of_yen                float64
quantity                       int64
purchase_period                int64
purchase_recency               int64
purchase_amount_per_trips    float64
regularity                   float64
trips_cancellation             int64
trips_cat85099                 int64
trips_cat85123                 int64
trips_cat22423                 int64
trips_cat47566                 int64
trips_cat84879                 int64
trips_cat20725                 int64
trips_cat22720                 int64
trips_catpost                  int64
trips_cat23203                 int64
trips_cat22383                 int64
mode_category                 object
dtype: object

In [25]:
# one-hot encoding処理
X_ohe_s = pd.get_dummies(X_s, dummy_na=True, columns=ohe_cols)
#display(X_ohe)
X_ohe_s = X_ohe_s.dropna(axis=1,how='all')#axis=1　列
#display(X_ohe)
X_ohe_columns_s = X_ohe_s.columns.values #テストデータの仮確定

In [26]:
#列の整合性チェック
cols_model = set(X_ohe.columns.values)
cols_score = set(X_ohe_s.columns.values)

diff1 = cols_model - cols_score
print('モデルのみに存在する項目: %s' % diff1)

diff2 = cols_score - cols_model
print('スコアのみに存在する項目: %s' % diff2)

モデルのみに存在する項目: {'mode_category_85180', 'mode_category_85194', 'mode_category_22303', 'mode_category_82613', 'mode_category_22664', 'mode_category_22892', 'mode_category_21417', 'mode_category_48188', 'mode_category_21843', 'mode_category_21519', 'mode_category_21700', 'mode_category_84569', 'mode_category_20718', 'mode_category_22181', 'mode_category_82001', 'mode_category_84988', 'mode_category_22536', 'mode_category_22781', 'mode_category_21216', 'mode_category_22636', 'mode_category_21937', 'mode_category_84927', 'mode_category_82580', 'mode_category_22193', 'mode_category_22381', 'mode_category_35004', 'mode_category_84931', 'mode_category_22466', 'mode_category_84050', 'mode_category_84849', 'mode_category_84459', 'mode_category_22789', 'mode_category_21669', 'mode_category_22059', 'mode_category_22261', 'mode_category_21136', 'mode_category_22854', 'mode_category_22037', 'mode_category_84971', 'mode_category_22437', 'mode_category_23176', 'mode_category_21781', 'mode_category_21977', 'mode_category_21626', 'mode_category_22722', 'mode_category_22646', 'mode_category_22849', 'mode_category_22469', 'mode_category_22461', 'mode_category_23004', 'mode_category_84508', 'mode_category_22656', 'mode_category_22083', 'mode_category_22649', 'mode_category_22752', 'mode_category_23092', 'mode_category_22931', 'mode_category_85040', 'mode_category_22800', 'mode_category_85186', 'mode_category_84663', 'mode_category_22168', 'mode_category_84509', 'mode_category_22030', 'mode_category_22431', 'mode_category_22192', 'mode_category_22156', 'mode_category_22948', 'mode_category_22439', 'mode_category_21916', 'mode_category_21871', 'mode_category_84631', 'mode_category_22148', 'mode_category_22666', 'mode_category_75049', 'mode_category_84913', 'mode_category_37450', 'mode_category_22326', 'mode_category_85034', 'mode_category_22701', 'mode_category_21116', 'mode_category_21520', 'mode_category_84832', 'mode_category_85116', 'mode_category_85169', 'mode_category_22468', 'mode_category_84692', 'mode_category_85212', 'mode_category_22655', 'mode_category_85178', 'mode_category_84950', 'mode_category_22690', 'mode_category_84406', 'mode_category_85118', 'mode_category_22087', 'mode_category_22962', 'mode_category_84507', 'mode_category_22926', 'mode_category_21466', 'mode_category_21609', 'mode_category_79160', 'mode_category_21531', 'mode_category_22767', 'mode_category_22713', 'mode_category_84944', 'mode_category_82581', 'mode_category_21181', 'mode_category_84375', 'mode_category_85019', 'mode_category_21313', 'mode_category_84818', 'mode_category_23049', 'mode_category_22801', 'mode_category_90125', 'mode_category_21034', 'mode_category_21955', 'mode_category_21084', 'mode_category_22169', 'mode_category_84969', 'mode_category_22084', 'mode_category_23158', 'mode_category_85175', 'mode_category_22191', 'mode_category_20971', 'mode_category_85170', 'mode_category_22382', 'mode_category_47503', 'mode_category_85039', 'mode_category_22207', 'mode_category_85232', 'mode_category_37370', 'mode_category_22728', 'mode_category_22682', 'mode_category_85131', 'mode_category_85206', 'mode_category_22470', 'mode_category_21745', 'mode_category_23233', 'mode_category_85202', 'mode_category_84992', 'mode_category_84792', 'mode_category_22999', 'mode_category_22967', 'mode_category_21975', 'mode_category_21908', 'mode_category_22848', 'mode_category_20727', 'mode_category_21534', 'mode_category_85059'}
スコアのみに存在する項目: {'mode_category_23109', 'mode_category_20726', 'mode_category_23342', 'mode_category_82552', 'mode_category_22844', 'mode_category_22989', 'mode_category_15058', 'mode_category_21317', 'mode_category_22457', 'mode_category_84926', 'mode_category_35810', 'mode_category_85124', 'mode_category_15036', 'mode_category_47422', 'mode_category_22775', 'mode_category_23111', 'mode_category_85053', 'mode_category_22112', 'mode_category_21746', 'mode_category_23242', 'mode_category_71053', 'mode_category_21867', 'mode_category_21790', 'mode_category_22626', 'mode_category_23108', 'mode_category_23081', 'mode_category_84029', 'mode_category_23344', 'mode_category_23309', 'mode_category_23431', 'mode_category_21982', 'mode_category_22624', 'mode_category_22751', 'mode_category_35648', 'mode_category_21668', 'mode_category_23251', 'mode_category_22556', 'mode_category_22295', 'mode_category_84580', 'mode_category_16016', 'mode_category_47567', 'mode_category_22567', 'mode_category_22667', 'mode_category_21865', 'mode_category_21713', 'mode_category_37327', 'mode_category_22328', 'mode_category_23230', 'mode_category_85135', 'mode_category_15039', 'mode_category_22460', 'mode_category_21382', 'mode_category_21175', 'mode_category_23173', 'mode_category_22350', 'mode_category_22784', 'mode_category_23295', 'mode_category_72800', 'mode_category_21422', 'mode_category_23355', 'mode_category_20984', 'mode_category_84984', 'mode_category_22180', 'mode_category_23052', 'mode_category_85017', 'mode_category_22971', 'mode_category_23201', 'mode_category_22498', 'mode_category_22113', 'mode_category_22921', 'mode_category_84212', 'mode_category_22492', 'mode_category_22804', 'mode_category_23207', 'mode_category_23128', 'mode_category_22411', 'mode_category_20914', 'mode_category_21845', 'mode_category_22907', 'mode_category_84625', 'mode_category_23229', 'mode_category_71477', 'mode_category_22983', 'mode_category_22305', 'mode_category_85062', 'mode_category_22349', 'mode_category_23160', 'mode_category_21212', 'mode_category_23154', 'mode_category_22488', 'mode_category_21080', 'mode_category_22665', 'mode_category_21209', 'mode_category_21658', 'mode_category_23138', 'mode_category_23256', 'mode_category_23237', 'mode_category_23032', 'mode_category_21922', 'mode_category_84816', 'mode_category_23240', 'mode_category_85061', 'mode_category_21704', 'mode_category_22749', 'mode_category_37448', 'mode_category_23163', 'mode_category_85087', 'mode_category_21528', 'mode_category_22779', 'mode_category_23174', 'mode_category_90129', 'mode_category_85227', 'mode_category_23112', 'mode_category_23208', 'mode_category_22356', 'mode_category_84800', 'mode_category_85174', 'mode_category_22293', 'mode_category_22629', 'mode_category_23002', 'mode_category_23284', 'mode_category_22627', 'mode_category_22846', 'mode_category_47518', 'mode_category_22297', 'mode_category_23205', 'mode_category_22670', 'mode_category_23288', 'mode_category_90030', 'mode_category_23133', 'mode_category_21232', 'mode_category_22798', 'mode_category_85035', 'mode_category_23209', 'mode_category_22151', 'mode_category_23243', 'mode_category_23110', 'mode_category_23280', 'mode_category_23191', 'mode_category_22379', 'mode_category_22413', 'mode_category_17012', 'mode_category_21927', 'mode_category_22499', 'mode_category_21974', 'mode_category_21123', 'mode_category_18097', 'mode_category_23034', 'mode_category_48184', 'mode_category_85111', 'mode_category_84665'}

In [27]:
#列名一致
df_cols_m = pd.DataFrame(None,
                         columns=X_ohe_columns,
                         dtype=float)
X_ohe_s2 = pd.concat([df_cols_m, X_ohe_s])
#display(X_ohe_s2.head(3))

set_Xm = set(X_ohe.columns.values)
set_Xs = set(X_ohe_s.columns.values)

#スコアにのみ存在する項目の削除
X_ohe_s3 = X_ohe_s2.drop(list(set_Xs-set_Xm),axis=1)

#print(X_ohe_s3.shape)
#display(X_ohe_s3.head(3))

#list(set_Xs-set_Xm)

In [28]:
#スコアにのみ存在する項目の削除
X_ohe_s3.loc[:,list(set_Xm-set_Xs)] = X_ohe_s3.loc[:,list(set_Xm-set_Xs)].fillna(0,axis=1)
X_ohe_s3.head(3)

   trips  amount_of_yen  ...  mode_category_POST  mode_category_nan
0    5.0        2080.34  ...                 1.0                0.0
1    4.0         661.64  ...                 1.0                0.0
2    5.0        1265.48  ...                 0.0                0.0

[3 rows x 334 columns]

In [29]:
#ソート順の統一
X_ohe_s3 = X_ohe_s3.reindex(X_ohe.columns.values,axis=1)
X_ohe_s3.head(3)

   trips  amount_of_yen  ...  mode_category_POST  mode_category_nan
0    5.0        2080.34  ...                 1.0                0.0
1    4.0         661.64  ...                 1.0                0.0
2    5.0        1265.48  ...                 0.0                0.0

[3 rows x 334 columns]

In [30]:
#欠損値処理
X_ohe_s4 = pd.DataFrame(imp.transform(X_ohe_s3),columns=X_ohe_columns)

In [31]:
#RFE適用後の列名のみテストデータから抽出
X_ohe_selected_s=X_ohe_s4.loc[:, X_ohe_columns[selector.support_]]

In [36]:
#列の整合性再確認チェック ←ログとしてははきだすべき
cols_model = set(X_ohe_selected.columns.values)
cols_score = set(X_ohe_selected_s.columns.values)
diff1 = cols_model - cols_score
print('モデルのみに存在する項目: %s' % diff1)

diff2 = cols_score - cols_model
print('スコアのみに存在する項目: %s' % diff2)

モデルのみに存在する項目: set()
スコアのみに存在する項目: set()

**モデリング**

In [46]:
#アルゴリズム定義
#model_name = 'GBC_001'
'''
clf = Pipeline([('scl',StandardScaler()), 
                ('est',GradientBoostingClassifier(random_state=1))
                ])
'''
# set pipelines for different algorithms
pipelines = {
    'knn':
       Pipeline([('scl',StandardScaler()),
                  ('est',KNeighborsClassifier())]),
    'logistic':
        Pipeline([('scl',StandardScaler()),
                  ('est',LogisticRegression(random_state=1))]),
    'rsvc':
        Pipeline([('scl',StandardScaler()),
                  ('est',SVC(C=1.0, kernel='rbf', class_weight='balanced', random_state=1,probability = True))]),
    'lsvc':
        Pipeline([('scl',StandardScaler()),
                  ('est',SVC(C=1.0, kernel='linear', class_weight='balanced', random_state=1,probability = True))]),
    'tree':
        Pipeline([('scl',StandardScaler()),
                  ('est',DecisionTreeClassifier(random_state=1))]),
    'rf':
        Pipeline([('scl',StandardScaler()),
                  ('est',RandomForestClassifier(random_state=1))]),
    'gb':
        Pipeline([('scl',StandardScaler()),
                  ('est',GradientBoostingClassifier(random_state=1))]),
    'lgb':
        Pipeline([('scl',StandardScaler()),
                  ('lgb',lgb.LGBMClassifier())]),
    'mlp': #ニューラルネットワーク
        Pipeline([('scl',StandardScaler()),
                  ('est',MLPClassifier(hidden_layer_sizes=(3,3),
                                       max_iter=1000,
                                       random_state=1))])
}

In [47]:
#clf.fit(X_ohe_selected, y.values.ravel())#Xを標準化、勾配ブースティングを適用)
scores = {}
for pipe_name, pipeline in pipelines.items():
    pipeline.fit(X_ohe_selected, y.values.ravel())
    scores[(pipe_name,'train')] = accuracy_score(y, pipeline.predict(X_ohe_selected))
    scores[(pipe_name,'test')] = accuracy_score(y_s, pipeline.predict(X_ohe_selected_s))

pd.Series(scores).unstack()

              test     train
gb        0.826518  0.921897
knn       0.821561  0.834031
lgb       0.805452  1.000000
logistic  0.804213  0.930265
lsvc      0.749690  0.875872
mlp       0.795539  0.951185
rf        0.831475  1.000000
rsvc      0.717472  0.843794
tree      0.764560  1.000000

In [48]:
for pipe_name, pipeline in pipelines.items():
  #results = cross_val_score(pipeline, X_ohe_selected, y, scoring='roc_auc', cv=5)
  #print('cv score('+pipe_name+'):', np.average(results), '+-', np.std(results))
  print(pipe_name)
  predscore = pd.DataFrame(pipeline.predict_proba(X_ohe_selected_s)[:,0:1], columns=['pred_score'])
  ID_s.join(predscore).to_csv('./output/'+  pipe_name + '_' + file_test_name + '_with_pred.csv', index=False)

  #imp = pd.DataFrame([pipeline.named_steps['est'].feature_importances_], columns=X_ohe_columns[selector.support_])
  #imp.T.to_csv('./output/'+  pipe_name + '_feature_importances.csv', index=True)

knn
logistic
rsvc
lsvc
tree
rf
gb
lgb
mlp

In [50]:
#モデル保存
for pipe_name, pipeline in pipelines.items():
  filename=pipe_name + '.joblib'
  joblib.dump('./output/'+ pipe_name, filename)