<a href="https://colab.research.google.com/github/saiku122/AIJobcolle/blob/master/MachineLearning/finaltask/LatstTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/saiku122/AIJobcolle.git

Cloning into 'AIJobcolle'...
remote: Enumerating objects: 358, done.
remote: Counting objects: 100% (358/358), done.
remote: Compressing objects: 100% (243/243), done.
remote: Total 358 (delta 149), reused 190 (delta 62), pack-reused 0
Receiving objects: 100% (358/358), 11.86 MiB | 18.32 MiB/s, done.
Resolving deltas: 100% (149/149), done.

In [2]:
cd /content/AIJobcolle/MachineLearning/finaltask/

/content/AIJobcolle/MachineLearning/finaltask

★★最終課題★★</br>
〇入力データ</br>
・モデル用：final_hr_analysis_train.csv</br>
・スコア用：final_hr_analysis_test.csv</br>
</br>
〇出力データ</br>
・スコア付データ：</br> 
・モデル：</br>

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFECV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix
import joblib

In [5]:
file_model_name = 'final_hr_analysis_train.csv'
file_test_name = 'final_hr_analysis_test.csv'

#データの読み込み
df = pd.read_csv('./input/'+ file_model_name)
#ID = df.iloc[:,0]
#y=df.iloc[:,1]
#X=df.iloc[:,2:]
df

     customerid  trips  amount_of_yen  ...  trips_cat22383  mode_category  tgt
0         12352      8         601.18  ...               0              M    0
1         12359      4        3459.93  ...               0          82613    1
2         12383      5        1238.59  ...               0          84997    1
3         12395      7        1035.90  ...               0           POST    0
4         12408      6        1460.79  ...               0          85099    0
..          ...    ...            ...  ...             ...            ...  ...
712       18239      4        1123.51  ...               0          22178    1
713       18245      4         881.06  ...               0          84970    0
714       18257      8         863.35  ...               0          22993    0
715       18260      7        2364.30  ...               0          47590    1
716       18283      7         842.58  ...               6          85099    0

[717 rows x 21 columns]