<a href="https://colab.research.google.com/github/saiku122/AIJobcolle/blob/master/MachineLearning/finaltask/LatstTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/saiku122/AIJobcolle.git

Cloning into 'AIJobcolle'...
remote: Enumerating objects: 339, done.
remote: Counting objects: 100% (339/339), done.
remote: Compressing objects: 100% (224/224), done.
remote: Total 339 (delta 136), reused 191 (delta 62), pack-reused 0
Receiving objects: 100% (339/339), 11.86 MiB | 16.02 MiB/s, done.
Resolving deltas: 100% (136/136), done.

In [8]:
cd /content/AIJobcolle/MachineLearning/finaltask/

/content/AIJobcolle/MachineLearning/finaltask

★★最終課題★★</br>
〇入力データ</br>
・モデル用：final_hr_analysis_train.csv</br>
・スコア用：final_hr_analysis_test.csv</br>
</br>
〇出力データ</br>
・スコア付データ：</br> 
・モデル：</br>

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import RFECV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix
import joblib

In [19]:
file_model_name = 'final_hr_analysis_train.csv'
file_test_name = 'final_hr_analysis_test.csv'

#データの読み込み
df = pd.read_csv('./input/'+ file_model_name)
ID = df.iloc[:,0]
y=df.iloc[:,1]
X=df.iloc[:,2:]
X

     amount_of_yen  quantity  ...  mode_category  tgt
0           601.18       188  ...              M    0
1          3459.93       961  ...          82613    1
2          1238.59       775  ...          84997    1
3          1035.90       837  ...           POST    0
4          1460.79       725  ...          85099    0
..             ...       ...  ...            ...  ...
712        1123.51       587  ...          22178    1
713         881.06       719  ...          84970    0
714         863.35       377  ...          22993    0
715        2364.30      1411  ...          47590    1
716         842.58       545  ...          85099    0

[717 rows x 19 columns]