<a href="https://colab.research.google.com/github/saiku122/AIJobcolle/blob/master/MachineLearning/python/%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92%E6%9C%80%E7%B5%82%E8%A9%A6%E9%A8%93.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/saiku122/AIJobcolle.git

Cloning into 'AIJobcolle'...
remote: Enumerating objects: 450, done.
remote: Counting objects: 100% (450/450), done.
remote: Compressing objects: 100% (329/329), done.
remote: Total 450 (delta 187), reused 215 (delta 68), pack-reused 0
Receiving objects: 100% (450/450), 12.07 MiB | 13.72 MiB/s, done.
Resolving deltas: 100% (187/187), done.

In [2]:
cd /content/AIJobcolle/MachineLearning/python

/content/AIJobcolle/MachineLearning/python

In [9]:
from IPython.core.display import display
import pandas as pd

df = pd.read_csv('./data/av_loan_u6lujuX_CVtuZ9i.csv',header=0)
X=df.iloc[:,1:-1]
y=df.iloc[:,-1]

class_mapping={'N':1,'Y':0}
y=y.map(class_mapping)

display(X.join(y).head())

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male      No          0  ...            1.0         Urban            0
1   Male     Yes          1  ...            1.0         Rural            1
2   Male     Yes          0  ...            1.0         Urban            0
3   Male     Yes          0  ...            1.0         Urban            0
4   Male      No          0  ...            1.0         Urban            0

[5 rows x 12 columns]

In [10]:
#カテゴリ変数
categoru_columns=['Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [15]:
y.isnull().sum()

0

In [16]:
X_ohe = pd.get_dummies(X,dummy_na=True,columns=categoru_columns)

In [18]:
display(X_ohe.head())

   ApplicantIncome  CoapplicantIncome  ...  Property_Area_Urban  Property_Area_nan
0             5849                0.0  ...                    1                  0
1             4583             1508.0  ...                    0                  0
2             3000                0.0  ...                    1                  0
3             2583             2358.0  ...                    1                  0
4             6000                0.0  ...                    1                  0

[5 rows x 26 columns]

In [28]:
from sklearn.impute import SimpleImputer

X_fin=SimpleImputer().fit_transform(X_ohe)

In [29]:
#ホールドアウト法適用
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,
                                              y,
                                              test_size=0.20,
                                              random_state=1)

**ソースコード2**

In [37]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [40]:
lr=Pipeline([
             ('scl',StandardScaler()),
             ('est',LogisticRegression())
             ])
rf1=RandomForestClassifier()
rf2=Pipeline([
             ('scl',StandardScaler()),
             ('pca',PCA()),
             ('est',RandomForestClassifier())
             ])

In [ ]:
from sklearn